* {
    margin: 0;
    padding: 0;
}

.black-border {
    border: 1px solid black;
}

.schedule {
    font-family: source sans pro, sans-serif;
    font-size: 16px;
    font-weight: 700;
}

.note-card-mobile, .note-card-normal {
    color: white;
    border-bottom: 5px solid rgba(0, 0, 0, 0.2);
}

.note-time {
    opacity: 0.7;
}

@media (min-width: 1280px) {
    .time-column {
        float: left;
        display: inline-block;
        width: 5%;

        font-weight: 400;
    }

    .days {
        float: left;
        display: inline-block;
        width: 95%;
    }

    /* 30px - height of 30min schedule cell */
    .empty-time-row {
        height: 40px;
        box-sizing: border-box;
    }

    .time-row {
        /*double of height*/
        height: 60px;
        text-align: center;
        border-top: 1px solid #ebebeb;

        box-sizing: border-box;
    }
}

@media (max-width: 1279px) {
    .time-column {
        display: none;
        float: unset;
    }

    .days {
        display: block;
        width: initial;
        float: unset;
    }
}

@media (min-width: 1024px) {
    .day {
        width: calc(100% / 7);
        display: inline-block;
        float: left;
    }

    .day-header {
        height: 40px;
        position: relative;

        font-weight: 400;

        border: 1px solid #ebebeb;
        box-sizing: border-box;

    }

    .day-header span {
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .day-notes-half-hour {
        height: 30px;
        border: 1px solid #ebebeb;
        box-sizing: border-box;
    }

    .day-notes {
        position: relative;
    }

    .note-card-mobile {
        display: none;
    }

    .note-card-normal {
        position: absolute;
        width: 100%;
    }

    .note-time {
        height: 25px;

        padding: 5px;
        box-sizing: border-box;
    }

    .note-title {
        padding: 5px;
        box-sizing: border-box;

        font-size: 1.2rem;
    }
}

@media (max-width: 1023px) {
    .day-header {
        padding-top: 30px;
        padding-left: 30px;
    }

    .day-notes {
        white-space: nowrap;
        overflow-x: scroll;
        height: 200px;
        padding: 20px;
    }

    .note-card-normal {
        display: none;
    }

    .note-card-mobile {
        position: relative;
        display: inline-block;
        width: 350px;
        height: 95%;
        margin-left: 10px;
        margin-right: 10px;
        cursor: pointer;
   }

    .note-card-mobile-clickspot {
        z-index: 2;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .note-card-mobile-opened {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        animation: slideInFromRight;
        animation-duration: 250ms;
        z-index: 3;
    }

    @keyframes slideInFromRight {
        from {
            left: 100%;
        }

        to {
            left: 0;
        }
    }

    .slide-out-to-right {
        animation: slideOutToRight;
        animation-duration: 250ms;
    }

    @keyframes slideOutToRight {
        from {
            left: 0;
        }

        to {
            left: 100%;
        }
    }

    .note-card-mobile-opened-header {
        position: relative;
        height: 80px;
        color: white;
        font-size: 1.5em;
    }

    .note-card-mobile-opened-header-exit {
        position: absolute;
        display: inline;
        top: 0;
        bottom: 0;
        right: 0;
        width: 80px;
        background-color: rgba(0, 0, 0, 0.2);
    }

    .note-card-mobile-opened-header-exit::before {
        content: '✖';
        position: absolute;
        right: 40px;
        top: 40px;
        transform: translate(50%, -50%);
    }

    .note-card-mobile-opened-header-title {
        position: absolute;
        display: inline;
        left: 40px;
        top: 40px;
        transform: translate(0%, -50%);
    }

    .note-card-mobile-opened-body {
        color: black;
        background-color: white;
        height: 100%;
        padding: 30px;
        font-weight: initial;
        font-size: 24px;
    }

    .note-time {
        padding: 10px;
    }

    .note-title {
        white-space: normal;
        padding: 10px;
        font-size: 1.44em;
    }

    .day-notes-half-hour {
        display: none;
    }
}




